:root{

    --primary-color: #EBD070;

    /* Set the deafult values == light */
    --selected-bg-color: var(--light-bg-color);
    --selected-nav-color: var(--light-nav-color);
    --selected-font-color: var(--light-font-color);
    /* Set the 'light' theme */
    --light-bg-color: #FFF;
    --light-nav-color: #393D46;
    --light-font-color: #000000;
    /* Set the 'dark' theme */
    --dark-bg-color: #232323;
    --dark-nav-color: #343434;
    --dark-font-color: #ffffff
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--selected-bg-color);
}