.card {
    position: relative;
    width: 250px;
    height: 150px;
    border-radius: 1em;
    overflow: hidden;
    background-color: var(--light-nav-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),
                0 6px 6px rgba(0,0,0,0.23);
    margin: 1em;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    opacity: 0;
    transition: all 200ms ease-in-out;

    display: flex;
    flex-direction: column;
}

.overlay header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--light-nav-color);
}

.overlay section {
    width: 100%;
    height: 80%;
    padding: 1em;
}

.card span {
    display: none;
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 300ms ease-in-out;
}

.card span:hover {
    transform: rotate(360deg);
}

.overlay h3 {
    margin: 0;
    color: white;
}

.card:hover .overlay {
    opacity: .8;
}

.card:hover span {
    display: initial;
}

.card img {
    width: inherit;
}