.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: var(--selected-nav-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 99;
}

.main__nav__item {
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 4px;
    cursor: pointer;
}

.main__nav__item h1 {
    margin: 0 0 -4px;
    color: #ebebeb;
}

.nav__item {
    width: 40px;
    height: 40px;
    border-radius: .5em;
    background-color: var(--dark-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0 0;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

.nav__item p {
    margin: 0;
    font-size: .6em;
}

.nav__icon {
    width: 20px;
    height: 20px;
}

.theme_switch {
    margin-top: auto;
    margin-bottom: 1em;
}

.main__nav__item p {
    margin: 0;
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
}

.js {
    z-index: 3;
}

.html {
    z-index: 2;
    position: absolute;
    left: 0px;
    background-color: #F06529;
    display: flex;
    justify-content: center;

    transition-property: left;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}


.css {
    z-index: 1;
    position: absolute;
    left: 0px;
    background-color: #2965F1;

    transition-property: left;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
}

.html h1, .css h1 {
    font-size: 16px;
}

@media (min-width: 1000px) {
    .nav__item {
        flex-direction: row-reverse;        
    }

    .nav__icon {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .nav__item p {
        font-size: 1em;
        display: none;
    }

    .nav__item:hover p {
        display: initial;
    }

    .nav__item:hover {
        width: 120px;
        align-self: flex-start;
        justify-content: space-evenly;
        border-left: 2px solid var(--primary-color);
        border-right: 2px solid var(--primary-color);
        border-radius: 0;
    }

}