.theme_switch {
    position: relative;
    width: 40px;
    height: 27px;
    background-color: #484848;
    border: 2px solid #202020;
    border-radius: 25px;
    align-items: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lever {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px;
    border-style: solid; 
    border-radius: 50%;
    transition-property: left, background-color;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.light {
    left: 5%; 
    background-color: #f5ed28; 
    border-color: #e3c83a; 
}

.dark {
    left: 40%; 
    background-color: #fffdf1; 
    border-color: #e1e5c3; 
}