.ToggleSwitch {
    position: relative;
    width: 40px;
    height: 27px;
    border: 2px;
    border-style: solid;
    border-radius: 25px;
    align-items: center;
    display: flex;
    align-items: center;

}

.lever {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px;
    border-style: solid; 
    border-radius: 50%;
    transition-property: left, background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}