.post {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: var(--selected-font-color);
    overflow-x: hidden;
}

.post h1,
.post h2,
.post h3,
.post h4 {
    display: block;
    width: 100%;
}

.post a {
    font-weight: bold;
    color: var(--primary-color);
}

.post p {
    display: block;
    text-justify: inter-ideograph;
}

.post pre {
    width: 100%;
    display: block;
    overflow: auto;
}

.post img {
    max-width: 100%;
}

.content {
    width: 90%;
    height: fit-content;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
}