.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin-left: 1em;
    margin-right: 1em;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content h1 {
    margin-top: 0;
    color: var(--selected-font-color); 
    font-size: x-large; 
}

.form {
    width: 100%;
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(10px, auto);
    gap: 10px;
    grid-template-areas: 
        "nameLabel      nameLabel "
        "name           name"
        "mailLabel      mailLabel"
        "mail           mail"
        "messageLabel   messageLabel"
        "message        message"
        "message        message";
}
    
.name_label {
    color: var(--selected-font-color); 
    grid-area: nameLabel;
}

.email_label { 
    color: var(--selected-font-color); 
    grid-area: mailLabel;
}

.message_label { 
    color: var(--selected-font-color); 
    grid-area: messageLabel;
}

.name { 
    grid-row:  2 / 3;
    grid-area: name;
}

.email { 
    grid-column: 2 / 3;
    grid-area: mail;
}

.message { 
    grid-area: message;
    padding: .5em;
    width: 100%;
    height: 40vh;
    background-color: var(--selected-area-color);
    border: none;
    border-bottom: 2px solid lightslategrey;
    color: var(--selected-font-color);
} 

.name,
.email {
    font-size: medium;
    padding: .5em;
    width: 100%;
    height: 3em;
    background-color: var(--selected-area-color);
    border: none;
    border-bottom: 2px solid lightslategrey;
    display: inline-block;
    color: var(--selected-font-color);

}

.send_button {
    width: 200px;
    min-height: 40px;
    border: none;
    background-color: var(--seleted-bg-color);
    border-radius: 8px;
    
    color: grey;
    font-size: 18px;
    font-weight: bold;
    box-shadow: var(--selected-btn-shadow);

    margin-top: 1em;
    cursor: pointer;
}

.send_button:active {
    box-shadow: var(--selected-activebtn-shadow);
}


@media (min-width: 500px) {
    .form {
        grid-template-areas: 
            "nameLabel mailLabel"
            "name      mail"
            "messageLabel ."
            "message   message"
            "message   message"
            "message   message"
            "message   message";
    }

    .content {
        height: 80%;
    }

    .send_button {
        margin-top: auto;
    }
}