.Index {
    width: 100%;
}

.navbar {
    position: fixed;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: var(--selected-nav-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__nav__item {
    width: 50px;
    height: 50px;
    background-color: #EBD070;
}

.nav__item {
    width: 40px;
    height: 40px;
    border-radius: .5em;
    background-color: var(--dark-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0 0;
    transition-property: transform;
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

.ThemeSwitch {
    margin-top: auto;
    margin-bottom: 1em;
}

.nav__item:hover {
    transform: scale(1.1);
}

.watermark {
    position: fixed;
    top: 0;
    right: 5%;
    height: 100vh;

    font-weight: bold;
    font-size: 220px;
    color: var(--selected-nav-color);

    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: center;

    z-index: -99;
}

.watermark text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}