.index {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content {
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content section {
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content section h1 {
    font-size: 26px;
    color: grey;
    margin: 0;
}

.content section p {
    font-size: 14px;
    color: grey;
}

.name_tag {
    margin-top: auto;
    display: flex;
}

.dp {
    width: 55px;
    min-width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid var(--selected-bg-color);
    margin-right: 10px;
    box-shadow: var(--selected-btn-shadow);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dp img {
    width: inherit;
}

.name_tag section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name_tag section h1 {
    color: var(--selected-font-color);
}

.name_tag section h1,
.name_tag section p {
    margin: 0;
}

.main_btn {
    width: 200px;
    height: 40px;
    border: none;
    background-color: var(--seleted-bg-color);
    border-radius: 8px;
    
    color: grey;
    font-size: 18px;
    font-weight: bold;
    box-shadow: var(--selected-btn-shadow);

    margin-top: auto;
    align-self: center;
    cursor: pointer;
}

.main_btn:active {
    box-shadow: var(--selected-activebtn-shadow);
}

.social_accounts {
    display: none;
}

@media (min-width: 550px) {
    .social_accounts {
        display: initial;
        position: fixed;
        top: 5px;
        right: 5px;
        width: 80px;
        height: 30px;
        display: flex;
        justify-content: space-between;
    }

    .main_btn {
        align-self: unset;
    }
}

@media (min-width: 1000px) {
    .content section h1 {
        font-size: 26px;
    }

    .content section p {
        font-size: 20px;
    }

    .dp {
        width: 65px;
        height: 65px;
    }
}