.Index {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content {
    margin-left: 1em;
    margin-right: 1em;
    max-width: 600px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.content h1 {
    font-size: 36px;
    color: grey;
    margin: 0;
}

.content p {
    font-size: 24px;
    color: grey;
}

.mainBtn {
    width: 200px;
    height: 40px;
    border: none;
    background-color: lightcoral;
    border-radius: 8px;
    
    color: white;
    font-size: 18px;
    font-weight: bold;

    margin-top: auto;
    align-self: center;
}

@media (min-width: 550px) {
    .mainBtn {
        align-self: unset;
    }
}