.stacks {
    height: 50px;
}

.main__nav__item {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    cursor: pointer;
}

.main__nav__item h1 {
    margin: 0 0 -4px;
    color: #ebebeb;
}

.main__nav__item p {
    margin: 0;
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 36px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.2);
}

.js {
    z-index: 3;
    left: 0;
}

.html {
    z-index: 2;
    left: 0px;
    background-color: #F06529;
    display: flex;
    justify-content: center;
}

.css {
    z-index: 1;
    left: 0px;
    background-color: #2965F1;
}

.react {
    z-index: 1;
    left: 0px;
    background-color: #232323;
}

.nodejs {
    z-index: 0;
    left: 0px;
    background-color: #343434;
}

.psql {
    z-index: -1;
    left: 0px;
    background-color: #635F5F;
}

.graphql {
    z-index: -1;
    left: 0px;
    background-color: #D2D2D2;
}

.html h1, .css h1 {
    font-size: 16px;
    align-self: flex-end;
    margin-left: auto;
}

.js h1 {
    color: #323330;
    align-self: flex-end;
    margin-left: auto;
}